RJ.PizzaService.ConsoleClient/Service References/ZzaServices/ZzaService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ZzaService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:4878/PizzaService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:4878/PizzaService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:4878/PizzaService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RJ.PizzaOrderingService.Entities" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IZzaService_SubmitOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:SubmitOrder" />
  </wsdl:message>
  <wsdl:message name="IZzaService_SubmitOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubmitOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IZzaService_GetProducts_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProducts" />
  </wsdl:message>
  <wsdl:message name="IZzaService_GetProducts_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductsResponse" />
  </wsdl:message>
  <wsdl:message name="IZzaService_GetCustomers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomers" />
  </wsdl:message>
  <wsdl:message name="IZzaService_GetCustomers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomersResponse" />
  </wsdl:message>
  <wsdl:portType name="IZzaService">
    <wsdl:operation name="SubmitOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IZzaService/SubmitOrder" message="tns:IZzaService_SubmitOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IZzaService/SubmitOrderResponse" message="tns:IZzaService_SubmitOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProducts">
      <wsdl:input wsaw:Action="http://tempuri.org/IZzaService/GetProducts" message="tns:IZzaService_GetProducts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IZzaService/GetProductsResponse" message="tns:IZzaService_GetProducts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCustomers">
      <wsdl:input wsaw:Action="http://tempuri.org/IZzaService/GetCustomers" message="tns:IZzaService_GetCustomers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IZzaService/GetCustomersResponse" message="tns:IZzaService_GetCustomers_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IZzaService" type="tns:IZzaService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SubmitOrder">
      <soap:operation soapAction="http://tempuri.org/IZzaService/SubmitOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProducts">
      <soap:operation soapAction="http://tempuri.org/IZzaService/GetProducts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomers">
      <soap:operation soapAction="http://tempuri.org/IZzaService/GetCustomers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ZzaService">
    <wsdl:port name="BasicHttpBinding_IZzaService" binding="tns:BasicHttpBinding_IZzaService">
      <soap:address location="http://localhost:4878/PizzaService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>